### Assignment Programs 1

### 1) print numbers from 1 to 10

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2) print even numbers between 1 to 20

In [4]:
for i in range(1, 21):
    if i % 2 == 0:  
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3) check a number is postive negative or zero

In [10]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  0

The number is zero.

### 4) adding two numbers using opeartors

In [11]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("The sum is:", sum)

Enter first number:  7.8
Enter second number:  8.9

The sum is: 16.7

### 5) multipliaction table

In [5]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### 6) Find the largest among two numbers

In [24]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if num1 > num2:
    print(f"The larger number is {num1}")
elif num2 > num1:
    print(f"The larger number is {num2}")
else:
    print("Both numbers are equal.")

Enter first number:  56
Enter second number:  21

The larger number is 56.0

### 7) Use a while loop to print numbers 5 to 1

In [25]:
num = 5
while num >= 1:
    print(num)
    num -= 1

5
4
3
2
1

### 8) Print all characters in a string

In [30]:
string = input("Enter a string: ")
for char in string:
    print(char)

Enter a string:  hello world

h
e
l
l
o

w
o
r
l
d

### 9) Use logical operator to check if a number is between 10 and 50

In [36]:
num = float(input("Enter a number: "))
if 10 <= num <= 50:
    print("The number is between 10 and 50.")
else:
    print("The number is outside the range.")

Enter a number:  24

The number is between 10 and 50.

### 10) Sum of first 10 natural numbers

In [39]:
n = int(input("enter a number"))
sum_natural = (n * (n + 1)) // 2
print("The sum is:", sum_natural)

enter a number 10

The sum is: 55

### 11) Print "Odd" or "Even" for numbers 1 to 10

In [1]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i} is Even")
    else:
        print(f"{i} is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

### 12) Use “break” to stop loop when number is 5

In [1]:
for i in range(1, 11):
    if i == 5:
        break 
    print(i)

1
2
3
4

### 13) Print 1 to 10 and use continue to skip printing 5

In [2]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### 14) Print all elements in a list using a loop

In [3]:
my_list = [10, 20, 30, 40, 50]
for item in my_list:
    print(item)

10
20
30
40
50

### 15) Check if a number is divisible by both 3 and 5

In [4]:
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print(f"{num} is divisible by both 3 and 5.")
else:
    print(f"{num} is not divisible by both 3 and 5.")

Enter a number:  15

15 is divisible by both 3 and 5.

### 16) Square of all numbers from 1 to 5

In [5]:
for num in range(1, 6):
    print(f"The square of {num} is {num ** 2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

### 17) Print ASCII values of characters in a string

In [10]:
string = input("Enter a string: ")
for char in string:
    print(f"ASCII value of '{char}' is {ord(char)}")

Enter a string:  RISHAB

ASCII value of 'R' is 82
ASCII value of 'I' is 73
ASCII value of 'S' is 83
ASCII value of 'H' is 72
ASCII value of 'A' is 65
ASCII value of 'B' is 66

### 18) Count down from 10 to 1 using while

In [11]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

### 19) Check if a number is divisible by 2 or 3

In [20]:
num = int(input("Enter a number: "))
if num % 2 == 0 and num % 3 == 0:
    print(f"{num} is divisible by both 2 and 3.")
elif num % 2 == 0:
    print(f"{num} is divisible by 2.")
elif num % 3 == 0:
    print(f"{num} is divisible by 3.")
else:
    print(f"{num} is not divisible by 2 or 3.")

Enter a number:  6

6 is divisible by both 2 and 3.

### 20) Print sum of digits of a number

In [7]:
num = int(input("Enter a number: "))
sum_digits = 0
while num > 0:
    sum_digits += num % 10
    num //= 10  
print("Sum of digits:", sum_digits)

Enter a number:  123

Sum of digits: 6

### 21) Swap two numbers using a temporary variable

In [9]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
temp = num1
num1 = num2
num2 = temp
print("After swapping:")
print("First number:", num1)
print("Second number:", num2)

Enter first number:  8
Enter second number:  4

After swapping:
First number: 4
Second number: 8

### 22) Print numbers from 1 to 100 that are divisible by 7

In [10]:
for num in range(1, 101):
    if num % 7 == 0:
        print(num)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

### 23) Find the factorial of a number

In [11]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)
num = int(input("Enter a number: "))
print(f"Factorial of {num} is {factorial(num)}")

Enter a number:  5

Factorial of 5 is 120

### 24) Count vowels in a string

In [15]:
string = input("Enter a string: ")
vowel_count = 0
vowels = "aeiouAEIOU"
for char in string:
    if char in vowels:
        vowel_count += 1
print(f"Number of vowels in the string: {vowel_count}")

Enter a string:  apple

Number of vowels in the string: 2

### 25) Reverse a number using loop

In [18]:
num = int(input("Enter a number: "))
reverse = 0
while num > 0:
    digit = num % 10  
    reverse = (reverse * 10) + digit
    num //= 10 
print(f"Reversed number: {reverse}")

Enter a number:  123

Reversed number: 321

### 26) Find the maximum in a list using loop

In [21]:
numbers = [112, 45, 78, 23, 56, 89, 94]  
max_number = numbers[0] 
for num in numbers:
    if num > max_number:
        max_number = num
print("The maximum number is:", max_number)

The maximum number is: 112

### 27) Prime number check using loop

In [23]:
num = int(input("Enter a number: "))
if num <= 1:
    print(f"{num} is not a prime number.")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number:  25

25 is not a prime number.

### 28) Sum of even numbers in a list

In [29]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
sum_even = 0
for num in numbers:
    if num % 2 == 0:  
        sum_even += num  
print("Sum of even numbers:", sum_even)

Sum of even numbers: 30

### 29) Print number pattern using nested loops

In [30]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):  
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter the number of rows:  5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 30) Count frequency of digits in a number

In [31]:
num = input("Enter a number: ")
digit_count = {}
for digit in num:
    if digit.isdigit():
        digit_count[digit] = digit_count.get(digit, 0) + 1
print("Digit Frequency:", digit_count)

Enter a number:  1231223212

Digit Frequency: {'1': 3, '2': 5, '3': 2}

### 31) GCD of two numbers using loop

In [35]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
while b:
    a, b = b, a % b
print(f"GCD of the numbers is {a}")

Enter first number:  30
Enter second number:  60

GCD of the numbers is 30

### 32) Check if a number is a palindrome

In [37]:
num = int(input("Enter a number: "))
original_num = num
reverse = 0
while num > 0:
    digit = num % 10  
    reverse = (reverse * 10) + digit  
    num //= 10  
if original_num == reverse:
    print(f"{original_num} is a palindrome.")
else:
    print(f"{original_num} is not a palindrome.")

Enter a number:  121

121 is a palindrome.

### 33) Count words in a sentence

In [44]:
sentence = input("Enter a sentence: ")
word_count = len(sentence.split())
print(f"Number of words in the sentence: {word_count}")

Enter a sentence:  hi how are you doing

Number of words in the sentence: 5

### 34) Find common elements in two lists

In [45]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
common_elements = list(set(list1) & set(list2))
print("Common elements:", common_elements)

Common elements: [40, 50, 30]

### 35) Use elif to grade students based on score

In [50]:
score = int(input("Enter the student's score: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
elif score >= 50:
    grade = "E"
else:
    grade = "F"
print(f"The student's grade is: {grade}")

Enter the student's score:  95

The student's grade is: A

### 36) Print a right-angled triangle using *

In [51]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(i): 
        print("*", end=" ")
    print()

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

### 37) Check if a year is a leap year

In [55]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  2025

2025 is not a leap year.

### 38) Print Fibonacci series using loop

In [59]:
num_terms = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci Series:", end=" ")
for i in range(num_terms):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms:  10

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

### 39) Count uppercase and lowercase letters in a string

In [62]:
string = input("Enter a string: ")
uppercase_count = 0
lowercase_count = 0
for char in string:
    if char.isupper():
        uppercase_count += 1
    elif char.islower():
        lowercase_count += 1
print(f"Uppercase letters: {uppercase_count}")
print(f"Lowercase letters: {lowercase_count}")

Enter a string:  hello HELLO

Uppercase letters: 5
Lowercase letters: 5

### 40) Print numbers from 100 to 1 using loop

In [66]:
for num in range(100, 0, -1):
    print(num)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1